body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center; /* This will center the container horizontally */
    min-height: 100vh; /* Ensures vertical centering */
}

.container-update {

    max-width: 600px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: 500px;
}

h1, h3, h2 {
    color: #fff; /* White text for better contrast */
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #007bff;
    text-align: center; /* Centers the text */
    padding: 10px; /* Adds spacing around the text */
    border-radius: 4px; /* Optional: adds rounded corners */
}

h1, h3, h2:hover {
    background-color: #0056b3; /* Slightly darker blue for hover effect */
}


/* Form Elements */
form {
   

    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #555;
    font-weight: bold;
    display: inline-block;
        margin-bottom: 5px;
        margin-right: 5px;
            width: 150px;
            text-align: right;
}

input,select{
    padding: 5px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
            margin-bottom: 5px;
            margin-right: 5px;
            width: calc(100% - 160px); /* Adjust based on label width + margin */
        }

        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            padding:5px;
           font-size: 14px;
        }

        

/* Secondary Button */
button.btn-secondary {
    padding: 8px;
    font-size: 14px;
    text-decoration: none;
    color: white;
   background-color: #007bff;
    display: inline-block;
    margin-top: 15px;
    border-radius: 4px;
}

button.btn-secondary:hover {
    
       background-color: #ccc;
}


/* Success and Error Messages */
.error, .success {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.error {
    background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
}

.success {
    background-color: #ddffdd;
    color: #4caf50;
    border: 1px solid #4caf50;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    
    .container-update {
        padding: 15px;
        margin-top: 0px;
        margin-bottom: 50px;
       
    }

    form {
        grid-template-columns: 1fr;
    }

    #button, a.btn-secondary {
        width: 100%;
    }
}
